body {
    font-family: 'Advent Pro';font-size: 22px;
    padding: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

button {
    width: 100%;
    padding: 10px;
}