* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: #333;
}

body {
    display: flex;
    justify-content: center;
}
.form-container {
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.4);
    border-radius: 5px;
    align-self: center;
}

.form-group {
    padding: 20px 10px;
}

.form-group label {
    display: block;
    padding-bottom: 5px;
}

.form-control {
    background-color: #fff;
    border: 1px solid rgb(111, 199, 206);
    padding: 10px;
    font-size: 1.6em;
    font-weight: 600;
    color: rgb(61, 187, 196);
    outline: none;
}
.form-label {
    font-size: 1.8em;
    font-weight: 500;
}

.form-control:hover {
    border-color: rgb(43, 169, 179);
}


